$FormSize-padding-xl: $g-controls-spaceV-xl $g-controls-spaceH !default;
$FormSize-padding-lg: $g-controls-spaceV-lg $g-controls-spaceH !default;
$FormSize-padding-sm: $g-controls-spaceV-sm $g-controls-spaceH !default;
$FormSize-fontSize-xl: $g-fontSize-xl !default;
$FormSize-fontSize-lg: $g-fontSize-lg !default;
$FormSize-fontSize-sm: $g-fontSize-sm !default;
$FormSize-height-xl: $g-controls-height-xl !default;
$FormSize-height-lg: $g-controls-height-lg !default;
$FormSize-height-sm: $g-controls-height-sm !default;

/*　sircus-components-form-size
======================================== */

.Input--xl,
.Select--xl {
  font-size: $FormSize-fontSize-xl;
  padding: $FormSize-padding-xl;
  height: $FormSize-height-xl;
}

.Input--lg,
.Select--lg {
  font-size: $FormSize-fontSize-lg;
  padding: $FormSize-padding-lg;
  height: $FormSize-height-lg;
}

.Input--sm,
.Select--sm {
  font-size: $FormSize-fontSize-sm;
  padding: $FormSize-padding-sm;
  height: $FormSize-height-sm;
}
