:root {
  --FormSize-padding-xl: var(--g-controls-spaceV-xl) var(--g-controls-spaceH);
  --FormSize-padding-lg: var(--g-controls-spaceV-lg) var(--g-controls-spaceH);
  --FormSize-padding-sm: var(--g-controls-spaceV-sm) var(--g-controls-spaceH);

  --FormSize-fontSize-xl: var(--g-fontSize-xl);
  --FormSize-fontSize-lg: var(--g-fontSize-lg);
  --FormSize-fontSize-sm: var(--g-fontSize-sm);

  --FormSize-height-xl: var(--g-controls-height-xl);
  --FormSize-height-lg: var(--g-controls-height-lg);
  --FormSize-height-sm: var(--g-controls-height-sm);
}


/*　sircus-components-form-size
======================================== */

.Input--xl,
.Select--xl {
  font-size: var(--FormSize-fontSize-xl) !important;
  padding: var(--FormSize-padding-xl) !important;
  height: var(--FormSize-height-xl) !important;
}

.Input--lg,
.Select--lg {
  font-size: var(--FormSize-fontSize-lg) !important;
  padding: var(--FormSize-padding-lg) !important;
  height: var(--FormSize-height-lg) !important;
}

.Input--sm,
.Select--sm {
  font-size: var(--FormSize-fontSize-sm) !important;
  padding: var(--FormSize-padding-sm) !important;
  height: var(--FormSize-height-sm) !important;
}
